<div class="jumbotron jumbotron-fluid sharan m-0">
  <div class="container sharan1">
    <div class="row d-flex justify-content-center">
      <h1 class="display-2">Restaurants Finder</h1>
    </div>
    <div class="row d-flex justify-content-center">
      <p class="lead">Find the best restaurants, cafés, and bars</p>
    </div>
  </div>
</div>
<div class="container-fluid py-1">
	<div class="row">
		<div class="col-md-12">
			<ul class="nav nav-tabs">
				<li class="nav-item">
					<a class="nav-link active" routerLink="/restaurants">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="/fav">Show Fav</a>
				</li>
			</ul>
		</div>
	</div>
</div>
<router-outlet></router-outlet>